@model About
@{
    ViewData["Title"] = "UpdateToAbout";
    Layout = "~/Views/Layout/Index.cshtml";
}

<div class="content">
	<div class="container-fluid">
		<h4 class="page-title">Hakkımdakiler</h4>
		<div class="row">
			<div class="col-md-6">
				<div class="card">
					<div class="card-header">
						<div class="card-title">Hakkımdakiler Bilgi Güncelleme Sayfası</div>
					</div>
					<div class="card-body">
						<form method="post">
							<input type="hidden" asp-for="AboutId"/>
							<label>Başlık</label>
							<input type="text" asp-for="Title" class="form-control" />
							<br />
							<label>Açıklama</label>
							<input type="text" asp-for="SubDescription" class="form-control" />
							<br />
							<label>Detaylar</label>
							<input type="text" asp-for="Details" class="form-control" />
							<br />
							<button class="btn btn-success">Hakkımda Bilgisi Ekle</button>
						</form>

					</div>
				</div>
			</div>
		</div>
	</div>
</div>





